@model MvcCompanyCall.Models.Entity.TblCompanies
@{
    Layout = null;
}
<!-- Login Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
    <link rel="shortcut icon" href="~/loginPage/login.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
    <link rel="stylesheet" href="~/loginPage/style.css">
</head>
<body>
    <body id="particles-js">
    </body>
    <div class="animated bounceInDown">
        <div class="container">
            <span class="error animated tada" id="msg"></span>
            <form name="form1" class="box" onsubmit="return checkStuff()" method="post">
                <h4>İş Takip ve Yönetim Paneli</h4>
                <h5>Çağrı oluşturumak için ve çağrılarınızı takip etmek için lütfen oturum açın.</h5>
                <input type="text" name="Email" placeholder="Kullanıcı Adı" autocomplete="off">
                <i class="typcn typcn-eye" id="eye"></i>
                <input type="password" name="Password" placeholder="Şifre" id="pwd" autocomplete="off">
                <br>
                <label>
                    <input type="checkbox">
                    <span></span>
                    <small class="rmb">Beni hatırla</small>
                </label>
                <a href="#" class="forgetpass">Şifremi unuttum</a>
                <input type="submit" value="Giriş Yap" class="btn1">
            </form>
        </div>
        <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
        <script src="~/loginPage/script.js"></script>
</body>
</html>