
@{
    ViewBag.Title = "ActiveCalls";
    Layout = "~/Views/Shared/CompanyLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Konu</th>
        <th>Tarih</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Raporlama Problemi</td>
        <td>23 Kasım 2021</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Yazıcı Sorunu</td>
        <td>24 Kasım 2021</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Maaşların Hesana Aktarılması</td>
        <td>23 Kasım 2021</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Toplantı Talebi</td>
        <td>23 Kasım 2021</td>
    </tr>
</table>

