@using MvcCompanyCall.Models.Entity;
@model List<TblCall>

@{
    ViewBag.Title = "PassiveCalls";
    Layout = "~/Views/Shared/CompanyLayout.cshtml";
}

<h3>Pasif Çağrılar</h3>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Konu</th>
        <th>Tarih</th>
    
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.CallSubject</td>
            <td>@item.CallDate</td>
  
            <td><a href="/Default/CallDetail/@item.ID" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Default/NewCall/" class="btn btn-primary">Yeni Çağrı Ekle</a>
